*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color: blanchedalmond;
}
.ul{
  
    margin-left: 40rem;
    font-size: 2rem;
}
ul button{
    font-size: 1.3rem;
    margin-left: 30px;
}
.inputBox{
    height: 5rem;
    width: 30rem;
    display: flex;
    margin: auto;
    margin-top: 6rem;
    font-size: 1.5rem;
}
